{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/table.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}

  <div class="form-wrapper">
    <h5>Logged in as: {{ current_user.name }}</h5>

    <form method="GET" action="/edit">

    <table class="styled-table">
    <thead>
      <tr>
      {% for header in headers %}
        <th class="c1">{{header}}</th>
      {% endfor %}
      </tr>
    </thead>
    {% for article in results %}
    <TR>
       <TD class="c2">{{article.id}}</TD>
       <TD class="c2">{{article.author}}</TD>
       <TD class="c2">{{article.title}}</TD>
       <TD class="c2">{{article.body}}</TD>
       <TD class="c2">{{article.posted_on}}</TD>
    </TR>
    {% endfor %}
    </table>

     <fieldset class="article_id">
        {{ form.article_id.label }}
        {{ form.article_id(cols=100) }}
        {% if form.article_id.errors %}
          <ul class="errors">
            {% for error in form.article_id.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>

    <a href="{{ url_for('main_bp.add_article') }}">Back</a>
    <a href="{{ url_for('main_bp.logout') }}">Log out</a>
  {% endif %}
{% endblock %}
