{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/add_article.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}

  <div class="form-wrapper">
    <h5>Logged in as: {{ current_user.name }}</h5>

    <form method="POST" action="/edit">
      {{ form.csrf_token }}

      <fieldset class="title">
        {{ form.title.label }}
        {{ form.title(cols=100) }}
        {% if form.title.errors %}
          <ul class="errors">
            {% for error in form.title.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="body">
        {{ form.body.label }}
        {{ form.body(cols=50,rows=10) }}
        {% if form.body.errors %}
          <ul class="errors">
            {% for error in form.body.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>
    </form>
    <a href="{{ url_for('main_bp.fetch_articles') }}">Get my articles</a>
    <a href="{{ url_for('main_bp.logout') }}">Log out</a>
    </div>
  {% endif %}

{% endblock %}
