{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}

  <div class="form-wrapper">
    <h5>Logged in as: {{ current_user.name }}</h5>
    <a href="{{ url_for('main_bp.dashboard') }}">Post article</a>
    <a href="{{ url_for('main_bp.articles') }}">Fetch article</a>
    <a href="{{ url_for('main_bp.logout') }}">Log out</a>
    </div>
  {% endif %}

{% endblock %}
